In [1]:
from bs4 import BeautifulSoup

import requests
import pandas as pd

# 1) Write a python program to display all the header tags from wikipedia.org.

In [2]:
url="https://www.wikipedia.org/"
page=requests.get(url)
page

In [3]:
soup=BeautifulSoup(page.content)

In [4]:
#list of header tags
#d_all('h1',class_="mw-parser-outputr").find('span' ,class_="central-textlogo__image sprite svg-Wikipedia_wordmark").get_text()
#[class="mp-h2"]
header_tags=['h1','h2' ,'h3']
for i in header_tags:
    
    header =[]
    header =soup.find_all(i)
    j=0
    for k  in header:
        j=j+1
        if(j==1):
            print(i,'Tag Header content is :-')
        print(k.get_text())
    print('-------------------')

h1 Tag Header content is :-


Wikipedia

The Free Encyclopedia

-------------------
h2 Tag Header content is :-




1 000 000+


articles








100 000+


articles








10 000+


articles








1 000+


articles








100+


articles




-------------------
-------------------

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [5]:
url="https://www.imdb.com/chart/top/?ref_=nv_mv_250"

In [6]:
page=requests.get(url)
page

In [7]:
soup=BeautifulSoup(page.text,'html.parser')

In [8]:
#soup

In [9]:
data=soup.find('tbody',class_='lister-list')
#data

In [10]:
data=data.find_all('tr')
#data

In [11]:
title=[]
rating=[]
year_of_release=[]

for movie in data:
    
     for movie in data:

        title.append(movie.find('td',class_="titleColumn").find('a').get_text())

        rating.append(float(movie.find('td',class_='ratingColumn imdbRating').find('strong').get_text()))

        year_of_release.append(movie.find('td',class_="titleColumn").find('span',class_='secondaryInfo').get_text())

 #dict. formation
data={'Title':title ,
      'Ratings':rating,
      'Year of Release':year_of_release}
    
        
    # Making movies dataframe
movies_df= pd.DataFrame(data)  
movies_df

    #Sorting data to get rating descending order 
df=movies_df.sort_values(by=['Ratings'] ,ascending=False)

    #displaying top 100 movies data
Top_Hundread_Movies_df=df.head(100)
Top_Hundread_Movies_df

                          Title  Ratings Year of Release
0      The Shawshank Redemption      9.2          (1994)
21750  The Shawshank Redemption      9.2          (1994)
20001             The Godfather      9.2          (1972)
20250  The Shawshank Redemption      9.2          (1994)
20251             The Godfather      9.2          (1972)
...                         ...      ...             ...
27500  The Shawshank Redemption      9.2          (1994)
24001             The Godfather      9.2          (1972)
24250  The Shawshank Redemption      9.2          (1994)
24251             The Godfather      9.2          (1972)
24500  The Shawshank Redemption      9.2          (1994)

[100 rows x 3 columns]

# *** Using Function extracting Top 100 Movies data ***

2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.¶

In [12]:
def getting_Hundred_top_rated_movie_data(url):
    page=requests.get(url)
    page
    soup=BeautifulSoup(page.text,'html.parser')
    data=soup.find('tbody',class_='lister-list')
    data
    data=data.find_all('tr')
    data
    title=[]
    rating=[]
    year_of_release=[]

    for movie in data:

        title.append(movie.find('td',class_="titleColumn").find('a').get_text())

        rating.append(float(movie.find('td',class_='ratingColumn imdbRating').find('strong').get_text()))

        year_of_release.append(movie.find('td',class_="titleColumn").find('span',class_='secondaryInfo').get_text())

    #dict. formation
    data={'Title':title ,
           'Ratings':rating,
          'Year of Release':year_of_release}
    
        
    # Making movies dataframe
    movies_df= pd.DataFrame(data)  
    movies_df

    #Sorting data to get rating descending order 
    df=movies_df.sort_values(by=['Ratings'] ,ascending=False)

    #displaying top 100 movies data
    Top_Hundred_Movies_df=df.head(100)
    Top_Hundred_Movies_df

    return Top_Hundred_Movies_df

# 2. Extracting IMDB’s Top rated 100 movies calling function

In [13]:

print("IMDB’s Top rated 100 movies :")
movie_data= getting_Hundred_top_rated_movie_data("https://www.imdb.com/chart/top/?ref_=nv_mv_250") 
movie_data

IMDB’s Top rated 100 movies :

                          Title  Ratings Year of Release
0      The Shawshank Redemption      9.2          (1994)
1                 The Godfather      9.2          (1972)
2               The Dark Knight      9.0          (2008)
3        The Godfather: Part II      9.0          (1974)
4                  12 Angry Men      9.0          (1957)
..                          ...      ...             ...
76         Inglourious Basterds      8.3          (2009)
77                     Das Boot      8.3          (1981)
78            Avengers: Endgame      8.3          (2019)
79                Mononoke-hime      8.3          (1997)
80  Once Upon a Time in America      8.3          (1984)

[100 rows x 3 columns]

# 3. Extracting IMDB’s Top rated 100 Indian movies by calling function

In [14]:
# Extracting 
print("IMDB’s Top rated 100 Indian movies :")
movie_dict= getting_Hundred_top_rated_movie_data("https://www.imdb.com/india/top-rated-indian-movies/?sort=nv,desc&mode=simple&page=1") 
movie_dict

IMDB’s Top rated 100 Indian movies :

                  Title  Ratings Year of Release
4              Jai Bhim      8.5          (2021)
0              3 Idiots      8.4          (2009)
99           Anbe Sivam      8.4          (2003)
122   Pariyerum Perumal      8.4          (2018)
106             Golmaal      8.4          (1979)
..                  ...      ...             ...
16    Bajrangi Bhaijaan      8.0          (2015)
21          A Wednesday      8.0          (2008)
140                Roja      8.0          (1992)
204  Nil Battey Sannata      8.0          (2015)
23       Dil Chahta Hai      8.0          (2001)

[100 rows x 3 columns]

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp

In [15]:
def get_ItemText(ls):
    for i in ls : 
        if(ls==name1):
            name.append(i.get_text())
           
        elif ls==price1 :
            price.append(i.get_text())
       
        else:
            discount.append(i.get_text())
           

url = 'https://meesho.com/bagsladies/pl/p7vbp'
page= requests.get(url)

soup=BeautifulSoup(page.content)

# Making blank lists for name , price , discount 
name = []
price = []
discount =[]
Item_details = {}

# Extracting product names
name1 = soup.find_all('p', class_='Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS')

# Extracting Prices
price1 = soup.find_all('h5' , class_='Text__StyledText-sc-oo0kvp-0 hiHdyy')

# Extracting Discount
discount1 = soup.find_all('p',class_='Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm')

# calling the function to append items in lists
get_ItemText(name1)
get_ItemText(price1)
get_ItemText(discount1)

#MAking Item Dictionary
Item_details ={'Product Name ' : name ,
               'Price' : price ,
                'Discount' :discount}
 # Making Datframe of Item Details
df=pd.DataFrame(Item_details)
df

,Product Name,Price,Discount
0,Ravishing Fancy Women Handbags,₹201,₹86 discount on 1st order
1,Trendy Fancy Women Handbags,₹199,₹85 discount on 1st order
2,Gorgeous Stylish Women Handbags,₹150,₹63 discount on 1st order
3,Gorgeous Classy Women Handbags,₹187,₹79 discount on 1st order
4,Voguish Fashionable Women Handbags,₹227,₹97 discount on 1st order
5,Elegant Fancy Women's Bags,₹181,₹77 discount on 1st order
6,Voguish Classy Women Handbags,₹257,₹100 discount on 1st order
7,Elegant Stylish Women Handbags,₹210,₹89 discount on 1st order
8,Elegant Fancy Women'S Pu Leather Hand Bags,₹164,₹70 discount on 1st order
9,Wonderful Women Women Handbags,₹206,₹88 discount on 1st order
10,Elite Fancy Women Handbags,₹137,₹58 discount on 1st order
11,Voguish Alluring Women Handbags,₹469,₹100 discount on 1st order
12,Elegant Versatile Women Handbags,₹142,₹60 discount on 1st order
13,Classic Attractive Women Handbag,₹197,₹84 discount on 1st order
14,Gorgeous Versatile Women Handbags,₹201,₹85 discount on 1st order
15,Elegant Attractive Women Handbags,₹171,₹72 discount on 1st order
16,Graceful Attractive Women Handbags,₹179,₹76 discount on 1st order
17,Gorgeous Alluring Women Handbags,₹176,₹75 discount on 1st order
18,Elite Fancy Women Handbags,₹234,₹99 discount on 1st order
19,Gorgeous Versatile Women Handbags,₹180,₹76 discount on 1st order

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

In [32]:
# 5.a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

team_details={'Team_ranking' :[],
               'Team_name' :[],
                'Matches' :[],
                'Points' :[],
                'Ratings' :[]}
#function call
print("Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.")
print("  ")
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'


page= requests.get(url)
soup=BeautifulSoup(page.text, 'html.parser')

ranking_table= soup.find('table' , class_='table')
    #print(ranking_table)


for rank in ranking_table.find_all('tbody'):
    rows = rank.find_all('tr')

    #selecting top 10 records only to display by rows[0:10]
    for row in rows[0:10]:

            #extracting all columns
        team_ranking= row.find_all('td')
        
            #strip() to remove extra spaces in string
        cols=[x.text.strip() for x in team_ranking] 
        
        #adding data to dictionary
        team_details['Team_ranking'].append(cols[0])
        #replacing \n in name by space
        team_details['Team_name'].append((cols[1]).replace('\n' ,' '))
        team_details['Matches'].append(cols[2])
        team_details['Points'].append(cols[3])
        team_details['Ratings'].append(cols[4])

        #print(team_details)
df=pd.DataFrame(team_details )
print(df)

Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

  Team_ranking        Team_name Matches Points Ratings
0            1   New Zealand NZ      17  2,054     121
1            2      England ENG      32  3,793     119
2            3    Australia AUS      28  3,244     116
3            4        India IND      38  4,162     110
4            5  South Africa SA      28  2,943     105
5            6     Pakistan PAK      27  2,524      93
6            7   Bangladesh BAN      33  2,988      91
7            8     Sri Lanka SL      35  2,835      81
8            9   West Indies WI      36  2,788      77
9           10  Afghanistan AFG      23  1,562      68

In [17]:
#"5.b) Top 10 ODI Batsmen along with the records of their team and rating.
print("Top 10 ODI Batsmen along with the records of their team and rating.")
print("   ")

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/ODI/batting'
bat= requests.get(url)

Batsman_details={'POS' :[],
               'PLAYER' :[],
                'TEAM' :[],
                'RATING' :[],
                'CAREER BEST RATING' :[]}


soup=BeautifulSoup(bat.text, 'html.parser')

data=soup.find('table',class_='table')
rows=data.find_all('tr')
for row in rows[1:11]:
    player_ranking = row.find_all('td')
    cols=[x.text.strip() for x in player_ranking]
 
    Batsman_details['POS'].append(cols[0])
                                  
    Batsman_details['PLAYER'].append(cols[1])
    Batsman_details['TEAM'].append(cols[2])
    Batsman_details['RATING'].append(cols[3])
    Batsman_details['CAREER BEST RATING'].append(cols[4])
    
df=pd.DataFrame(Batsman_details)

## to format string 1\n\n\n --> 1 

df["POS"]=df["POS"].str[:2]
df["POS"]=df["POS"].replace('\n','',regex=True) 
print(df)

Top 10 ODI Batsmen along with the records of their team and rating.

  POS                 PLAYER TEAM RATING           CAREER BEST RATING
0   1             Babar Azam  PAK    873    873 v England, 13/07/2021
1   2            Virat Kohli  IND    811    911 v England, 12/07/2018
2   3           Rohit Sharma  IND    791  885 v Sri Lanka, 06/07/2019
3   4        Quinton de Kock   SA    783  813 v Sri Lanka, 10/03/2019
4   5            Aaron Finch  AUS    779    798 v England, 25/06/2019
5   6         Jonny Bairstow  ENG    775      796 v India, 26/03/2021
6   7           David Warner  AUS    762   880 v Pakistan, 26/01/2017
7   8  Rassie van der Dussen   SA    750      750 v India, 23/01/2022
8   9           Fakhar Zaman  PAK    741    779 v England, 08/07/2021
9  10               Joe Root  ENG    740  824 v Sri Lanka, 13/10/2018

In [18]:
#5.c)

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'


page= requests.get(url)
soup=BeautifulSoup(page.text, 'html.parser')
table_body =soup.find('table')
row_data=[]
header_data=[]

for row in table_body.find_all('tr'):
    cols=row.find_all('td')
    col=[ele.text.strip() for ele in cols]

    row_data.append(col)
for headers in soup.find_all('th'):
    header=[headers.text.strip() ]
    header_data.append(header)

#ValueError: 1 columns passed, passed data had 5 columns getting this
#df=pd.DataFrame(row_data,columns=header_data) 

df=pd.DataFrame(row_data,columns=['POS','PLAYER','TEAM ','RATING','CAREER BEST RATING'])
df["POS"]=df["POS"].str[:2]
df["POS"]=df["POS"].replace('\n','',regex=True) 
df=df.dropna()
df.head(10)

   POS            PLAYER TEAM  RATING             CAREER BEST RATING
1    1       Trent Boult    NZ    737  770 v West Indies, 22/06/2019
2    2    Josh Hazlewood   AUS    709      733 v England, 26/01/2018
3    3      Chris Woakes   ENG    700    711 v Sri Lanka, 04/07/2021
4    4        Matt Henry    NZ    691   691 v Bangladesh, 26/03/2021
5    5  Mujeeb Ur Rahman   AFG    681      712 v Ireland, 24/01/2021
6    6    Jasprit Bumrah   IND    679  841 v West Indies, 01/11/2018
7    7      Mehedi Hasan   BAN    675    725 v Sri Lanka, 25/05/2021
8    8    Mitchell Starc   AUS    652  783 v New Zealand, 29/03/2015
9    9       Rashid Khan   AFG    650     806 v Pakistan, 21/09/2018
10  10      Andy McBrine   IRE    646  646 v West Indies, 16/01/2022

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [19]:
#6.a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
page= requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")
table_body =soup.find('table')
row_data=[]
header_data=[]
i=0
for row in table_body.find_all('tr'):
    cols=row.find_all('td')
    col=[ele.text.strip() for ele in cols]
    
    
    row_data.append(col)
for headers in soup.find_all('th'):
    header=[headers.text.strip() ]
    header_data.append(header)

#ValueError: 1 columns passed, passed data had 5 columns getting this
#df=pd.DataFrame(row_data,columns=header_data) 

df=pd.DataFrame(row_data,columns=['Pos','Team','Matches','Points','Rating'])
df=df.replace('\n','  ',regex=True)
df2=df.dropna()
df2.head(10)

   Pos              Team Matches Points Rating
1    1    Australia  AUS      20  3,263    163
2    2  South Africa  SA      21  2,580    123
3    3      England  ENG      21  2,474    118
4    4        India  IND      22  2,221    101
5    5   New Zealand  NZ      24  2,342     98
6    6   Bangladesh  BAN       5    475     95
7    7   West Indies  WI      21  1,801     86
8    8     Pakistan  PAK      19  1,304     69
9    9      Ireland  IRE       5    240     48
10  10     Sri Lanka  SL       5    233     47

In [20]:
#6. b) Top 10 women’s ODI Batting players along with the records of their team and rating. 
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
page= requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")
table_body =soup.find('table')
row_data=[]
header_data=[]

row_data_1=[] #to save 1st palyer data
row_data_1_rank=soup.find('span',class_='rankings-block__pos-number').text


row_data_1_name=soup.find('div',class_='rankings-block__banner--name').text

row_data_1_team=soup.find('div',class_='rankings-block__banner--nationality').text

row_data_1.append(row_data_1_rank.strip())
row_data_1.append(row_data_1_name.strip())
team_rate=row_data_1_team.split()

row_data_1.append(team_rate[0])
row_data_1.append(team_rate[1])

row_data.append(row_data_1)

for row in table_body.find_all('tr'):
    cols=row.find_all('td')
    col=[ele.text.strip() for ele in cols]
    
    row_data.append(col)
for headers in soup.find_all('th'):
    header=[headers.text.strip() ]
    header_data.append(header)

#ValueError: 1 columns passed, passed data had 5 columns getting this
#df=pd.DataFrame(row_data,columns=header_data) 

df=pd.DataFrame(row_data,columns=['Pos','Player','Team','Rating'])
df=df.replace('\n','  ',regex=True)
df2=df.dropna()
df2.head(10)

,Pos,Player,Team,Rating
0,1,Alyssa Healy,AUS,749
2,2 (0),Mithali Raj,IND,735
3,3 (...,Tammy Beaumont,ENG,707
4,4 (...,Meg Lanning,AUS,706
5,5 (...,Beth Mooney,AUS,705
6,6 (...,Lizelle Lee,SA,702
7,7 (...,Amy Satterthwaite,NZ,700
8,8 ...,Smriti Mandhana,IND,666
9,9 (...,Laura Wolvaardt,SA,661
10,10 ...,Ellyse Perry,AUS,661

In [21]:
#6.c) Top 10 women’s ODI all-rounder along with the records of their team and rating


url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
page= requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")
container=soup.find('div' , attrs={'data-title':"ODI All-Rounder Rankings" } )

table_body =container.find('table')


row_data=[]
header_data=[]

row_data_1=[] #to save 1st palyer dat

row_data_1_rank=container.find('span',class_='rankings-block__pos-number').text
row_data_1_name=container.find('div',class_='rankings-block__banner--name').text
row_data_1.append(row_data_1_rank.strip())
row_data_1.append(row_data_1_name.strip())

row_data_1_team=container.find('div',class_='rankings-block__banner--nationality').text

row_data_1.append(team_rate[0])
row_data_1.append(team_rate[1])

row_data.append(row_data_1)
i=0
for row in table_body.find_all('tr'):
    i=i+1
    cols=row.find_all('td')
    col=[ele.text.strip() for ele in cols]
    y=[]
    for x in col:
        if "This player has moved up" in x:
            x=x.replace('This player has moved up in the rankings since the previous rankings update','')
        elif 'This player has moved down' in x:
            x=x.replace('This player has moved down in the rankings since the previous rankings update','')
        y.append(x)    
       
    row_data.append(y)

for headers in soup.find_all('th'):
    header=[headers.text.strip()]
    header_data.append(header)
   
# ValueError: 1 columns passed, passed data had 5 columns getting this
#df=pd.DataFrame(row_data,columns=header_data) 
# del row_data[1]

df=pd.DataFrame(row_data,columns=['Pos','Player','Team','Rating'])
df=df.replace('\n' ,"" ,regex=True)
df=df.replace(' ' ,"" ,regex=True)
print(df.dropna())

      Pos           Player Team Rating
0       1      EllysePerry  AUS    749
2    2(0)    NatalieSciver  ENG    351
3    3(0)    MarizanneKapp   SA    327
4    4(1)       AmeliaKerr   NZ    312
5    5(1)     DeeptiSharma  IND    309
6    6(0)   KatherineBrunt  ENG    273
7    7(0)     JessJonassen  AUS    263
8    8(0)   StafanieTaylor   WI    262
9    9(0)  AshleighGardner  AUS    256
10  10(0)   HayleyMatthews   WI    254

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
and the code for the video from the link for the youtube video from the post.

In [24]:
          

post_details ={'Heading':[],
                'Date':[],
                'Content':[],
                'Link':[]}
url=' https://www.coreyms.com.'
page = requests.get(url)
soup=BeautifulSoup(page.text,'html.parser')

# ={'Heading':[]}

page_data=soup.find_all('header',class_="entry-header")
for x in page_data:
#extracting heading
    heading=x.find('h2',class_='entry-title').text
    post_details['Heading'].append(heading)
    
#extracting date
    date=x.find('time',class_='entry-time').text
    post_details['Date'].append(date)

page_content=soup.find_all('div', class_= 'entry-content')
 #to extract content
L=0
for i in page_content:
    L=L+1
    content=i.find('p').text
    post_details['Content'].append(content)
    
#to extract video link
#since 5th link is not present it shows none to skip 5th n iterate rest will have to enter blank string bcoz length of all sets has to be same in dict.
    if(L==5):
        link=""
        post_details['Link'].append(link)
        continue
    link=i.find('iframe' ,class_="youtube-player").get('src')
    post_details['Link'].append(link)
   # print(link)
    


df =pd.DataFrame(post_details)
df

,Heading,Date,Content,Link
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/06I63_p-2A4?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/_JGmemuINww?vers...

# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location,
area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, 
Rajaji Nagar.

In [25]:
url="https://www.nobroker.in/property/sale/pune/multiple?searchParam=W3sibGF0IjoxOC42Mjk3ODExLCJsb24iOjczLjc5OTcwOTQsInBsYWNlSWQiOiJDaElKcy1xOWZ6ZTR3anNSLUtDbnNkcGxRaXciLCJwbGFjZU5hbWUiOiJQaW1wcmktQ2hpbmNod2FkIn0seyJsYXQiOjE4LjU2MDE2NDksImxvbiI6NzMuODAzMTMzNSwicGxhY2VJZCI6IkNoSUp6VUZnT2tpX3dqc1JMVHJmMlg3Z2FOayIsInBsYWNlTmFtZSI6IkF1bmRoIn0seyJsYXQiOjE4LjY1MDM3MTEsImxvbiI6NzMuODM5MzI1MTk5OTk5OTksInBsYWNlSWQiOiJDaElKS2QyZU1mbTV3anNSRnh1ZnZYM2ZFMk0iLCJwbGFjZU5hbWUiOiJTcGluZSBDaXR5IE1hbGwifV0=&radius=2.0&city=pune&locality=Pimpri-Chinchwad,&locality=Aundh,&locality=Spine%20City%20Mall"
page=requests.get(url)
soup = BeautifulSoup(page.text,"html.parser")

Property_details={'Title':[],
                 'Location':[],
                 'Area':[],
                 'EMI':[],
                 'price':[]}
# extracting Title
titles= soup.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full")
for title in titles:
    title=title.text.strip()
    Property_details['Title'].append(title)


# extracting Location

locations= soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95")
for location in locations:
    location=location.text.strip()
    Property_details['Location'].append(location)

#extracting area
ren=soup.find_all('div',{'id':"minRent"})
print()
for areas in ren:
    for area in areas.find('div',class_='flex'):
        Property_details['Area'].append(area)
# extracting EMI
emis=soup.find_all('div' ,{'id':'roomType'})
for emi in emis:
    emi=emi.text.strip()
    emi=emi.replace('â\x82¹','')
    Property_details['EMI'].append(emi)
# extracting EMI

mindp=soup.find_all('div',{'id':"minDeposit"})

for prices in mindp:
    for price in prices.find('span'):
        price=price.replace('â¹','')
       
        if price==" " or "" :
             continue
        else:
            Property_details['price'].append(price)
           
Property_details['price']=[i for i in Property_details['price'] if i ]

df=pd.DataFrame(Property_details)
df

,Title,Location,Area,EMI,price
0,1 BHK Flat For Sale In Priyadarshani Housing...,"Santnagar, Spine Rd, Near Spine City Mall",485 sqft,"16,621/Month",29 Lacs
1,4+ BHK In Independent House For Sale In Spin...,cultureCrust Society,"4,741 sqft",2.78 Lacs/Month,4.85 Crores
2,1 BHK Flat For Sale In Nd Landge Nestworth S...,Near Spine City Mall,650 sqft,"22,352/Month",39 Lacs
3,2 BHK For Sale In Nd Landge Nestworth Society...,"Moshi, Sector 10, MIDC, Bhosari, near Spine ...",950 sqft,"32,669/Month",57 Lacs
4,1 BHK Flat For Sale In Kulswamini In Moshi,"SHOP 30 SPINE CITY MALL SANT NAGAR, Sector No. 9",637 sqft,"22,925/Month",40 Lacs

# 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [26]:
Dineout_details ={'Restaurant name':[],
                'Cuisine':[],
                'Locationt':[],
                'Ratings':[],
                'Image URL':[]}
url='https://www.dineout.co.in/delhi/greppo-cafe-sector-61-gurgaon-100732'
page = requests.get(url)
soup=BeautifulSoup(page.text,'html.parser')
# extract name
Restaurant_name=soup.find('div',class_="restnt-details_info").find('h1').text
print('i) Restaurantname is :',Restaurant_name)

#extract Cuisines
Cuisines=soup.find('div',class_="about-info d-flex").find_all('a')
Cuisines_offered=[]
for cuisine in Cuisines:
    Cuisines_offered.append(cuisine.text)
print('ii) Cuisines offered are :',Cuisines_offered)

# extract location
loc=soup.find('div',class_='restnt-name').find_all('a')
location=""
for x in loc[0:2]:
    location=location+" "+ x.text 
print('iii) Location is : ',location)

#extract ratings
rating=soup.find('div', class_="cursor rest-rating rating-4_5").text
print("iv) Restaurent rating is : " ,rating)

#extract image url
url=soup.find('img', class_="rdp-banner_img").get('src')
print("v) Restaurent rating is : " ,url)

i) Restaurantname is : Greppo Cafe
ii) Cuisines offered are : ['North Indian', ' Chinese', ' Continental']
iii) Location is :   Sector 61 |  Gurgaon |
iv) Restaurent rating is :  4
v) Restaurent rating is :  https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/g/f/p100732-1637733455619dd44f3dbb0.jpg?tr=tr:n-large

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [27]:
product_details = {'Name':[],
                   'Actual Price':[],
                   'Discounted Price':[],
                    'Image URL':[]}

url='https://www.bewakoof.com/women-tshirts?ga_q=tshirts'
page=requests.get(url)
soup=BeautifulSoup(page.text , 'html.parser')

data =soup.find_all('div',class_='productCardDetail')
#print(data)
img=soup.find('div', class_ ='productCardImg false')

for product in data[0:11]:
   
#extract product name
    name=product.find('h3')
   
    product_details['Name'].append(name)
   

#extract product  Actual_price
    Actual_price=product.find('span',class_='actualPriceText').text
    product_details['Actual Price'].append(Actual_price)
    
#extract product  Actual_price
    dis_price=product.find('span',class_='discountedPriceText')
    discounted_price =dis_price.find('b').text
    product_details['Discounted Price'].append(discounted_price)
    
#extract product  Actual_price   
img=soup.find_all('div', class_ ='productCardImg false')
for image in img[0:11]:
    url=image.find('img').get('src')
    product_details['Image URL'].append(url)
    
df =pd.DataFrame(product_details)
df

,Name,Actual Price,Discounted Price,Image URL
0,[Climbing pocket panda Half Sleeve Printed T-s...,799,249,https://images.bewakoof.com/t320/climbing-pock...
1,[Expensive Half Sleeve T-Shirt],699,249,https://images.bewakoof.com/t320/expensive-boy...
2,[Not ordinary Half Sleeve Printed T-Shirt],799,249,https://images.bewakoof.com/t320/not-ordinary-...
3,[Wink New Half Sleeve Printed T-Shirt Yellow],799,249,https://images.bewakoof.com/t320/wink-new-half...
4,[Bugs On A Pocket Half Sleeve Printed T-Shirt(...,799,249,https://images.bewakoof.com/t320/bugs-on-a-poc...
5,[Love Friends Half Sleeve Printed T-Shirt Mete...,799,249,https://images.bewakoof.com/t320/love-friends-...
6,[Goofy Mickey Pocket Half Sleeve Printed T-Shirt],799,249,https://images.bewakoof.com/t320/goofy-mickey-...
7,[Chibi Harry Half Sleeve T-Shirt (HPL)],799,249,https://images.bewakoof.com/t320/chibi-harry-h...
8,[Chibi Friends (FRL) Half Sleeve Printed T-shirt],799,249,https://images.bewakoof.com/t320/chibi-friends...
9,[Minimal Believe Boyfriend T-Shirt],799,249,https://images.bewakoof.com/t320/minimal-belie...