In [ ]:
from bs4 import BeautifulSoup

import requests
import pandas as pd

# 1) Write a python program to display all the header tags from wikipedia.org.

In [ ]:
url="https://www.wikipedia.org/"
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
#list of header tags
#d_all('h1',class_="mw-parser-outputr").find('span' ,class_="central-textlogo__image sprite svg-Wikipedia_wordmark").get_text()
#[class="mp-h2"]
header_tags=['h1','h2' ,'h3']
for i in header_tags:
    
    header =[]
    header =soup.find_all(i)
    j=0
    for k  in header:
        j=j+1
        if(j==1):
            print(i,'Tag Header content is :-')
        print(k.get_text())
    print('-------------------')

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [ ]:
url="https://www.imdb.com/chart/top/?ref_=nv_mv_250"

In [ ]:
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.text,'html.parser')

In [ ]:
#soup

In [ ]:
data=soup.find('tbody',class_='lister-list')
#data

In [ ]:
data=data.find_all('tr')
#data

In [ ]:
title=[]
rating=[]
year_of_release=[]

for movie in data:
    
     for movie in data:

        title.append(movie.find('td',class_="titleColumn").find('a').get_text())

        rating.append(float(movie.find('td',class_='ratingColumn imdbRating').find('strong').get_text()))

        year_of_release.append(movie.find('td',class_="titleColumn").find('span',class_='secondaryInfo').get_text())

 #dict. formation
data={'Title':title ,
      'Ratings':rating,
      'Year of Release':year_of_release}
    
        
    # Making movies dataframe
movies_df= pd.DataFrame(data)  
movies_df

    #Sorting data to get rating descending order 
df=movies_df.sort_values(by=['Ratings'] ,ascending=False)

    #displaying top 100 movies data
Top_Hundread_Movies_df=df.head(100)
Top_Hundread_Movies_df

# *** Using Function extracting Top 100 Movies data ***

2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.¶

In [ ]:
def getting_Hundred_top_rated_movie_data(url):
    page=requests.get(url)
    page
    soup=BeautifulSoup(page.text,'html.parser')
    data=soup.find('tbody',class_='lister-list')
    data
    data=data.find_all('tr')
    data
    title=[]
    rating=[]
    year_of_release=[]

    for movie in data:

        title.append(movie.find('td',class_="titleColumn").find('a').get_text())

        rating.append(float(movie.find('td',class_='ratingColumn imdbRating').find('strong').get_text()))

        year_of_release.append(movie.find('td',class_="titleColumn").find('span',class_='secondaryInfo').get_text())

    #dict. formation
    data={'Title':title ,
           'Ratings':rating,
          'Year of Release':year_of_release}
    
        
    # Making movies dataframe
    movies_df= pd.DataFrame(data)  
    movies_df

    #Sorting data to get rating descending order 
    df=movies_df.sort_values(by=['Ratings'] ,ascending=False)

    #displaying top 100 movies data
    Top_Hundred_Movies_df=df.head(100)
    Top_Hundred_Movies_df

    return Top_Hundred_Movies_df

# 2. Extracting IMDB’s Top rated 100 movies calling function

In [ ]:

print("IMDB’s Top rated 100 movies :")
movie_data= getting_Hundred_top_rated_movie_data("https://www.imdb.com/chart/top/?ref_=nv_mv_250") 
movie_data

# 3. Extracting IMDB’s Top rated 100 Indian movies by calling function

In [ ]:
# Extracting 
print("IMDB’s Top rated 100 Indian movies :")
movie_dict= getting_Hundred_top_rated_movie_data("https://www.imdb.com/india/top-rated-indian-movies/?sort=nv,desc&mode=simple&page=1") 
movie_dict

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp

In [ ]:
def get_ItemText(ls):
    for i in ls : 
        if(ls==name1):
            name.append(i.get_text())
           
        elif ls==price1 :
            price.append(i.get_text())
       
        else:
            discount.append(i.get_text())
           

url = 'https://meesho.com/bagsladies/pl/p7vbp'
page= requests.get(url)

soup=BeautifulSoup(page.content)

# Making blank lists for name , price , discount 
name = []
price = []
discount =[]
Item_details = {}

# Extracting product names
name1 = soup.find_all('p', class_='Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS')

# Extracting Prices
price1 = soup.find_all('h5' , class_='Text__StyledText-sc-oo0kvp-0 hiHdyy')

# Extracting Discount
discount1 = soup.find_all('p',class_='Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm')

# calling the function to append items in lists
get_ItemText(name1)
get_ItemText(price1)
get_ItemText(discount1)

#MAking Item Dictionary
Item_details ={'Product Name ' : name ,
               'Price' : price ,
                'Discount' :discount}
 # Making Datframe of Item Details
df=pd.DataFrame(Item_details)
df

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

In [147]:
# 5.a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

team_details={'Team_ranking' :[],
               'Team_name' :[],
                'Matches' :[],
                'Points' :[],
                'Ratings' :[]}
#function call
print("Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.")
print("  ")
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'


page= requests.get(url)
soup=BeautifulSoup(page.text, 'html.parser')

ranking_table= soup.find('table' , class_='table')
    #print(ranking_table)


for rank in ranking_table.find_all('tbody'):
    rows = rank.find_all('tr')

    #selecting top 10 records only to display by rows[0:10]
    for row in rows[0:10]:

            #extracting all columns
        team_ranking= row.find_all('td')
        
            #strip() to remove extra spaces in string
        cols=[x.text.strip() for x in team_ranking] 
        
        #adding data to dictionary
        team_details['Team_ranking'].append(cols[0])
        #replacing \n in name by space
        team_details['Team_name'].append((cols[1]).replace('\n' ,' '))
        team_details['Matches'].append(cols[2])
        team_details['Points'].append(cols[3])
        team_details['Ratings'].append(cols[4])

        #print(team_details)
df=pd.DataFrame(team_details )
#to print dataframe without index
print(df.to_string(index=False))

Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

Team_ranking       Team_name Matches Points Ratings
           1  New Zealand NZ      17  2,054     121
           2     England ENG      32  3,793     119
           3   Australia AUS      28  3,244     116
           4       India IND      38  4,162     110
           5 South Africa SA      28  2,943     105
           6    Pakistan PAK      27  2,524      93
           7  Bangladesh BAN      33  2,988      91
           8    Sri Lanka SL      35  2,835      81
           9  West Indies WI      36  2,788      77
          10 Afghanistan AFG      23  1,562      68

In [152]:
#"5.b) Top 10 ODI Batsmen along with the records of their team and rating.
print("Top 10 ODI Batsmen along with the records of their team and rating.")
print("   ")

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/ODI/batting'
bat= requests.get(url)

Batsman_details={'POS' :[],
               'PLAYER' :[],
                'TEAM' :[],
                'RATING' :[],
                'CAREER BEST RATING' :[]}


soup=BeautifulSoup(bat.text, 'html.parser')

data=soup.find('table',class_='table')
rows=data.find_all('tr')
for row in rows[1:11]:
    player_ranking = row.find_all('td')
    cols=[x.text.strip() for x in player_ranking]
 
    Batsman_details['POS'].append(cols[0])
                                  
    Batsman_details['PLAYER'].append(cols[1])
    Batsman_details['TEAM'].append(cols[2])
    Batsman_details['RATING'].append(cols[3])
    Batsman_details['CAREER BEST RATING'].append(cols[4])
    
df=pd.DataFrame(Batsman_details)

## to format string 1\n\n\n --> 1 

df["POS"]=df["POS"].str[:2]
df["POS"]=df["POS"].replace('\n','',regex=True) 
print(df)

Top 10 ODI Batsmen along with the records of their team and rating.

  POS                 PLAYER TEAM RATING           CAREER BEST RATING
0   1             Babar Azam  PAK    873    873 v England, 13/07/2021
1   2            Virat Kohli  IND    811    911 v England, 12/07/2018
2   3           Rohit Sharma  IND    791  885 v Sri Lanka, 06/07/2019
3   4        Quinton de Kock   SA    783  813 v Sri Lanka, 10/03/2019
4   5            Aaron Finch  AUS    779    798 v England, 25/06/2019
5   6         Jonny Bairstow  ENG    775      796 v India, 26/03/2021
6   7           David Warner  AUS    762   880 v Pakistan, 26/01/2017
7   8  Rassie van der Dussen   SA    750      750 v India, 23/01/2022
8   9           Fakhar Zaman  PAK    741    779 v England, 08/07/2021
9  10               Joe Root  ENG    740  824 v Sri Lanka, 13/10/2018

In [163]:
#5.c)

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'


page= requests.get(url)
soup=BeautifulSoup(page.text, 'html.parser')
table_body =soup.find('table')
row_data=[]
header_data=[]

for row in table_body.find_all('tr'):
    cols=row.find_all('td')
    col=[ele.text.strip() for ele in cols]

    row_data.append(col)
for headers in soup.find_all('th'):
    header=[headers.text.strip() ]
    header_data.append(header)

#ValueError: 1 columns passed, passed data had 5 columns getting this
#df=pd.DataFrame(row_data,columns=header_data) 

df=pd.DataFrame(row_data,columns=['POS','PLAYER','TEAM ','RATING','CAREER BEST RATING'])
df["POS"]=df["POS"].str[:2]
df["POS"]=df["POS"].replace('\n','',regex=True) 
df=df.dropna()
df.head(10)

   POS            PLAYER TEAM  RATING             CAREER BEST RATING
1    1       Trent Boult    NZ    737  770 v West Indies, 22/06/2019
2    2    Josh Hazlewood   AUS    709      733 v England, 26/01/2018
3    3      Chris Woakes   ENG    700    711 v Sri Lanka, 04/07/2021
4    4        Matt Henry    NZ    691   691 v Bangladesh, 26/03/2021
5    5  Mujeeb Ur Rahman   AFG    681      712 v Ireland, 24/01/2021
6    6    Jasprit Bumrah   IND    679  841 v West Indies, 01/11/2018
7    7      Mehedi Hasan   BAN    675    725 v Sri Lanka, 25/05/2021
8    8    Mitchell Starc   AUS    652  783 v New Zealand, 29/03/2015
9    9       Rashid Khan   AFG    650     806 v Pakistan, 21/09/2018
10  10      Andy McBrine   IRE    646  646 v West Indies, 16/01/2022

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [142]:
#6.a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
page= requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")
table_body =soup.find('table')
row_data=[]
header_data=[]
i=0
for row in table_body.find_all('tr'):
    cols=row.find_all('td')
    col=[ele.text.strip() for ele in cols]
    
    
    row_data.append(col)
for headers in soup.find_all('th'):
    header=[headers.text.strip() ]
    header_data.append(header)

#ValueError: 1 columns passed, passed data had 5 columns getting this
#df=pd.DataFrame(row_data,columns=header_data) 

df=pd.DataFrame(row_data,columns=['Pos','Team','Matches','Points','Rating'])
df=df.replace('\n','  ',regex=True)
df2=df.dropna()
df2.head(10)

   Pos              Team Matches Points Rating
1    1    Australia  AUS      20  3,263    163
2    2  South Africa  SA      21  2,580    123
3    3      England  ENG      21  2,474    118
4    4        India  IND      22  2,221    101
5    5   New Zealand  NZ      24  2,342     98
6    6   Bangladesh  BAN       5    475     95
7    7   West Indies  WI      21  1,801     86
8    8     Pakistan  PAK      19  1,304     69
9    9      Ireland  IRE       5    240     48
10  10     Sri Lanka  SL       5    233     47

In [111]:
#6. b) Top 10 women’s ODI Batting players along with the records of their team and rating. 
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
page= requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")
table_body =soup.find('table')
row_data=[]
header_data=[]

row_data_1=[] #to save 1st palyer data
row_data_1_rank=soup.find('span',class_='rankings-block__pos-number').text


row_data_1_name=soup.find('div',class_='rankings-block__banner--name').text

row_data_1_team=soup.find('div',class_='rankings-block__banner--nationality').text

row_data_1.append(row_data_1_rank.strip())
row_data_1.append(row_data_1_name.strip())
team_rate=row_data_1_team.split()

row_data_1.append(team_rate[0])
row_data_1.append(team_rate[1])

row_data.append(row_data_1)

for row in table_body.find_all('tr'):
    cols=row.find_all('td')
    col=[ele.text.strip() for ele in cols]
    
    row_data.append(col)
for headers in soup.find_all('th'):
    header=[headers.text.strip() ]
    header_data.append(header)

#ValueError: 1 columns passed, passed data had 5 columns getting this
#df=pd.DataFrame(row_data,columns=header_data) 

df=pd.DataFrame(row_data,columns=['Pos','Player','Team','Rating'])
df=df.replace('\n','  ',regex=True)
df2=df.dropna()
df2.head(10)

,Pos,Player,Team,Rating
0,1,Alyssa Healy,AUS,749
2,2 (0),Mithali Raj,IND,735
3,3 (...,Tammy Beaumont,ENG,707
4,4 (...,Meg Lanning,AUS,706
5,5 (...,Beth Mooney,AUS,705
6,6 (...,Lizelle Lee,SA,702
7,7 (...,Amy Satterthwaite,NZ,700
8,8 ...,Smriti Mandhana,IND,666
9,9 (...,Laura Wolvaardt,SA,661
10,10 ...,Ellyse Perry,AUS,661

In [141]:
#6.c) Top 10 women’s ODI all-rounder along with the records of their team and rating


url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
page= requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")
container=soup.find('div' , attrs={'data-title':"ODI All-Rounder Rankings" } )

table_body =container.find('table')


row_data=[]
header_data=[]

row_data_1=[] #to save 1st palyer dat

row_data_1_rank=container.find('span',class_='rankings-block__pos-number').text
row_data_1_name=container.find('div',class_='rankings-block__banner--name').text
row_data_1.append(row_data_1_rank.strip())
row_data_1.append(row_data_1_name.strip())

row_data_1_team=container.find('div',class_='rankings-block__banner--nationality').text

row_data_1.append(team_rate[0])
row_data_1.append(team_rate[1])

row_data.append(row_data_1)
i=0
for row in table_body.find_all('tr'):
    i=i+1
    cols=row.find_all('td')
    col=[ele.text.strip() for ele in cols]
    y=[]
    for x in col:
        if "This player has moved up" in x:
            x=x.replace('This player has moved up in the rankings since the previous rankings update','')
        elif 'This player has moved down' in x:
            x=x.replace('This player has moved down in the rankings since the previous rankings update','')
        y.append(x)    
       
    row_data.append(y)

for headers in soup.find_all('th'):
    header=[headers.text.strip()]
    header_data.append(header)
   
# ValueError: 1 columns passed, passed data had 5 columns getting this
#df=pd.DataFrame(row_data,columns=header_data) 
# del row_data[1]

df=pd.DataFrame(row_data,columns=['Pos','Player','Team','Rating'])
df=df.replace('\n' ,"" ,regex=True)
df=df.replace(' ' ,"" ,regex=True)
print(df.dropna())

      Pos           Player Team Rating
0       1      EllysePerry  AUS    438
2    2(0)    NatalieSciver  ENG    351
3    3(0)    MarizanneKapp   SA    327
4    4(1)       AmeliaKerr   NZ    312
5    5(1)     DeeptiSharma  IND    309
6    6(0)   KatherineBrunt  ENG    273
7    7(0)     JessJonassen  AUS    263
8    8(0)   StafanieTaylor   WI    262
9    9(0)  AshleighGardner  AUS    256
10  10(0)   HayleyMatthews   WI    254

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
and the code for the video from the link for the youtube video from the post.

In [ ]:
          

post_details ={'Heading':[],
                'Date':[],
                'Content':[],
                'Link':[]}
url=' https://www.coreyms.com.'
page = requests.get(url)
soup=BeautifulSoup(page.text,'html.parser')

# ={'Heading':[]}

page_data=soup.find_all('header',class_="entry-header")
for x in page_data:
#extracting heading
    heading=x.find('h2',class_='entry-title').text
    post_details['Heading'].append(heading)
    
#extracting date
    date=x.find('time',class_='entry-time').text
    post_details['Date'].append(date)

page_content=soup.find_all('div', class_= 'entry-content')
 #to extract content
L=0
for i in page_content:
    L=L+1
    content=i.find('p').text
    post_details['Content'].append(content)
    
#to extract video link
#since 5th link is not present it shows none to skip 5th n iterate rest will have to enter blank string bcoz length of all sets has to be same in dict.
    if(L==5):
        link=""
        post_details['Link'].append(link)
        continue
    link=i.find('iframe' ,class_="youtube-player").get('src')
    post_details['Link'].append(link)
   # print(link)
    


df =pd.DataFrame(post_details)
df

# 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [ ]:
Dineout_details ={'Restaurant name':[],
                'Cuisine':[],
                'Locationt':[],
                'Ratings':[],
                'Image URL':[]}
url='https://www.dineout.co.in/delhi/greppo-cafe-sector-61-gurgaon-100732'
page = requests.get(url)
soup=BeautifulSoup(page.text,'html.parser')
# extract name
Restaurant_name=soup.find('div',class_="restnt-details_info").find('h1').text
print('i) Restaurantname is :',Restaurant_name)

#extract Cuisines
Cuisines=soup.find('div',class_="about-info d-flex").find_all('a')
Cuisines_offered=[]
for cuisine in Cuisines:
    Cuisines_offered.append(cuisine.text)
print('ii) Cuisines offered are :',Cuisines_offered)

# extract location
loc=soup.find('div',class_='restnt-name').find_all('a')
location=""
for x in loc[0:2]:
    location=location+" "+ x.text 
print('iii) Location is : ',location)

#extract ratings
rating=soup.find('div', class_="cursor rest-rating rating-4_5").text
print("iv) Restaurent rating is : " ,rating)

#extract image url
url=soup.find('img', class_="rdp-banner_img").get('src')
print("v) Restaurent rating is : " ,url)

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [ ]:
product_details = {'Name':[],
                   'Actual Price':[],
                   'Discounted Price':[],
                    'Image URL':[]}

url='https://www.bewakoof.com/women-tshirts?ga_q=tshirts'
page=requests.get(url)
soup=BeautifulSoup(page.text , 'html.parser')

data =soup.find_all('div',class_='productCardDetail')
#print(data)
img=soup.find('div', class_ ='productCardImg false')

for product in data[0:11]:
   
#extract product name
    name=product.find('h3')
   
    product_details['Name'].append(name)
   

#extract product  Actual_price
    Actual_price=product.find('span',class_='actualPriceText').text
    product_details['Actual Price'].append(Actual_price)
    
#extract product  Actual_price
    dis_price=product.find('span',class_='discountedPriceText')
    discounted_price =dis_price.find('b').text
    product_details['Discounted Price'].append(discounted_price)
    
#extract product  Actual_price   
img=soup.find_all('div', class_ ='productCardImg false')
for image in img[0:11]:
    url=image.find('img').get('src')
    product_details['Image URL'].append(url)
    
df =pd.DataFrame(product_details)
df

# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location,
area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, 
Rajaji Nagar.

In [ ]:
url="https://www.nobroker.in/property/sale/pune/multiple?searchParam=W3sibGF0IjoxOC41OTg2NzYzLCJsb24iOjczLjc5NzgzNDc5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnIxM1pEUnU1d2pzUmVKbWdsamR1eTZZIiwicGxhY2VOYW1lIjoiUGltcGxlIFNhdWRhZ2FyIn0seyJsYXQiOjE4LjU4NjU5NjIsImxvbiI6NzMuODEzNDQyNCwicGxhY2VJZCI6IkNoSUoweFRFaE1hNHdqc1JzcjY2TlNDbVZrYyIsInBsYWNlTmFtZSI6IlBpbXBsZSBHdXJhdiJ9LHsibGF0IjoxOC41NjAxNjQ5LCJsb24iOjczLjgwMzEzMzUsInBsYWNlSWQiOiJDaElKelVGZ09raV93anNSTFRyZjJYN2dhTmsiLCJwbGFjZU5hbWUiOiJBdW5kaCJ9XQ==&radius=2.0&type=BHK2&city=pune&locality=Pimple%20Saudagar,&locality=Pimple%20Gurav,&locality=Aundh"
page= requests.get(url)

soup= BeautifulSoup(page.text,'html.parser')

names=[name.text.strip() for name in soup.find_all('h2',class_="heading-6 flex items-center font-semi-bold m-0")]

locations=soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95")
location=[location.text.strip()for location in locations]


areas=soup.find_all(itemprop="additionalProperty")
area=areas.find('div',class_="flex")
#area=[area.text.strip()for area in areas]
#print("area")
print(area)                                            
# ['div' id="roomType"] emi