In [ ]:
import selenium 
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

First get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code. No step is to be done manually.

In [72]:
#data extraction
def job_records():
    df=pd.DataFrame(columns=['job-title', 'job-location', 'company_name', 'experience_required'])
    titles= driver.find_elements_by_xpath('//div[@class="info fleft"]/a')  

    company_names=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')


    job_locations=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')


    experience_require=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
    for i in range(0,10):
        df=df.append({'job-title':titles[i].text,'job-location':job_locations[i].text,
                 'company_name':company_names[i].text,'experience_required':experience_require[i].text},ignore_index=True)
        time.sleep(1)
    return df

In [62]:
# first connect to the webdriver
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")


url=" https://www.naukri.com/"
driver.get(url)
driver.maximize_window()

search_job=driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys("Data Analyst")

#locating ele by full xpath
search_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_location
search_location.send_keys("Bangalore")
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

20

In [ ]:
record=job_records()
record

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [68]:

# first connect to the webdriver
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")


url= "https://www.naukri.com/"
driver.get(url)
driver.maximize_window()

#define dataframe
df=pd.DataFrame(columns=['job-title', 'job-location', 'company_name', 'experience_required'])

#entering job title
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys('Data Scientist')

#locating ele by full xpath
search_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_location
#sending location
search_location.send_keys('Bangalore')
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [73]:
record=job_records()
record

,job-title,job-location,company_name,experience_required
0,Sr Data Scientist,Bangalore/Bengaluru,Uber,6-12 Yrs
1,HCL Tech Opening - Lead Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",HCL,10-20 Yrs
2,Senior Data Scientist (R Programming),Remote,Ignitho,4-9 Yrs
3,Data Scientist/Senior Data Scientist - Python,Bangalore/Bengaluru,ApicalGo Consultancy,3-8 Yrs
4,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Altimax Business Solutions,4-9 Yrs
5,Sr . Data Scientist,Bangalore/Bengaluru,Visa,6-8 Yrs
6,Need Data scientists and data engineers - WFH-...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Covalense Technologies Private Limited,8-13 Yrs
7,Data Scientist,Bangalore/Bengaluru,AirSeva,6-11 Yrs
8,Hiring For Data scientist- ML/python @ Unitedh...,Bangalore/Bengaluru\n(WFH during Covid),Optum,2-5 Yrs
9,Principal Data Scientist,Bangalore/Bengaluru,Mobile Premier League,8-12 Yrs

Q3:You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [74]:
driver=webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
url='https://www.naukri.com/'
driver.get(url)

#define dataframe
df=pd.DataFrame(columns=['job-title', 'job-location', 'company_name', 'experience_required'])
search_job= driver.find_element_by_xpath('//input[@class="suggestor-input "][1]')
search_job.send_keys('Data Scientist')
search_submit= driver.find_element_by_xpath('//div[@class="qsbSubmit"]')
search_submit.click()

In [ ]:
#location filter
chk_delhi=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
chk_delhi.click()

In [76]:
# sal filter
chk_sal=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
chk_sal.click()

In [77]:

record=job_records()
record

,job-title,job-location,company_name,experience_required
0,"Excellent Opportunity For Freshers For AI/ML, ...","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",NTT Data,0-0 Yrs
1,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Hiring For Senior Data Scientist-Noida,"Noida, New Delhi, Greater Noida",Lumiq.ai,2-6 Yrs
3,Data Scientist,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Mount Talent Consulting Private Limited,1-4 Yrs
4,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
5,Data Scientist _NLP,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ...",EXL,3-8 Yrs
6,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
7,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
8,Only Fresher / Python Data Scientist / Trainee...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services,0-0 Yrs
9,Lead Data Scientist,Delhi / NCR\n(WFH during Covid),Indihire HR Consultants Private Limited,2-4 Yrs

**Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:**
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

In [78]:
# first connect to the webdriver
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [79]:
url=" https://www.flipkart.com/"
driver.get(url)
driver.maximize_window()
time.sleep(1)
close_add=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_add.click()

In [80]:
#search "sunglasses"
search_result=driver.find_element_by_class_name("_3704LK")
search_result.send_keys("sunglasses")
search = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search.click()

In [81]:
df1=pd.DataFrame(columns=['Brand','Description','Prices'])
for j in range(1,4):
    url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(j)
    driver.get(url)
    title= driver.find_elements_by_xpath('//div[@class="_2B099V"]/div[1]')
    desc= driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]')
    prices= driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div[1]/div[1]')
    time.sleep(1)
   
    for i in range(0,len(title)):
        df1 = df1.append({'Brand':title[i].text,'Description':desc[i].text ,'Prices':prices[i].text},ignore_index=True)
    time.sleep(2)
    
time.sleep(1)
driver.close()
df1.head(100)

            Brand                                        Description  Prices
0         Arnette              Mirrored Retro Square Sunglasses (56)  ₹2,549
1   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...    ₹980
2            SRPM             UV Protection Wayfarer Sunglasses (50)    ₹198
3          SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...    ₹253
4          PIRASO              UV Protection Aviator Sunglasses (54)    ₹229
..            ...                                                ...     ...
95      ROYAL SON   Polarized, UV Protection Aviator Sunglasses (57)    ₹759
96       Fastrack                UV Protection Round Sunglasses (52)    ₹639
97       Fastrack   UV Protection Wrap-around Sunglasses (Free Size)    ₹929
98         PIRASO              UV Protection Aviator Sunglasses (55)    ₹250
99         GANSTA              UV Protection Aviator Sunglasses (57)    ₹284

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually

In [ ]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"
driver.get(url)
driver.maximize_window()
df=pd.DataFrame(columns=['Rating','Review_summary','Full_review'])

for j in range(1,11):
    url1='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page='+str(j)
    driver.get(url1)
    gride=driver.find_elements_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-9-12"]/div')[2:12]
    

    for i in gride:
        Ratings =i.find_element_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        #print(Ratings.text)
        Rating.append(Ratings.text)

        Reviews_summary =i.find_element_by_xpath('//p[@class="_2-N8zT"]')
        #print(Reviews_summary.text)
        Review_summary.append(Reviews_summary.text)

        Full_reviews =i.find_element_by_xpath('//div[@class="t-ZTKy"]')
        #print(Full_reviews.text)
        Full_review.append(Full_reviews.text)
        df=df.append({'Rating':Ratings.text,'Review_summary':Reviews_summary.text,
                          'Full_review':Full_reviews.text},ignore_index=True)
        time.sleep(1)
df

**Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.**
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [ ]:
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.flipkart.com"
driver.get(url)
driver.maximize_window()

close_log=driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close_log.click()

search_result=driver.find_element_by_class_name("_3704LK")
search_result.send_keys("sneakers")
search = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search.click()

In [ ]:
df=pd.DataFrame(columns=['Brand','Description','Rate','Discount'])
for j in range(1,4):
    url="https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_2_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_2_na_na_na&as-pos=3&as-type=RECENT&suggestionId=sneakers&requestId=d635f1c2-ae40-403b-9b9b-24dfec7c4a88&as-searchtext=sn&page="+str(j)
    #driver.get(url)  
    driver.get(url) 
    grid=driver.find_elements_by_xpath('//div[@class="_2B099V"]')    
    for i in grid:
        brand=i.find_element_by_tag_name('div')

        dis=i.find_elements_by_tag_name('a')[0]
        #to find rate
        r=i.find_elements_by_tag_name('a')[1]
        p=r.find_element_by_tag_name('div')
        rate=p.find_elements_by_tag_name('div')[0]
        discount=p.find_elements_by_tag_name('div')[-1]
        df=df.append({'Brand':brand.text,'Description':dis.text,
                      'Rate':rate.text,'Discount':discount.text},ignore_index=True)
        time.sleep(1)
time.sleep(1)
driver.close()
df.head(100)

**Q7Go to the link - https://www.myntra.com/shoes**
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
Note: Applying the filter and scraping the data, everything should be done through code only and there should not be any manual step.

In [ ]:
driver=webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
url='https://www.myntra.com/shoes'
driver.get(url)

In [ ]:
#apply price filter
price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
print(price_filter.click())

#apply color filter
color_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
print(color_filter.click())

df=pd.DataFrame(columns=['Brand','Discription','Price'])

#to fetch product details from 2 pages forloop

for p in range(1,3):
    print(p)
    print(url)
    
    product=driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]')
    print(len(product))
    for i in product:
       
        Brand=i.find_element_by_tag_name('h3')
        print(Brand.text)
        Discription=i.find_element_by_tag_name('h4')
        print(Discription.text)
        
        price1=i.find_element_by_xpath('div')
        price=price1.find_element_by_tag_name('span').text
        # spliting discounted price and actual price
        prices=price.split()
        df=df.append({'Brand':Brand.text,'Discription':Discription.text,'Price':prices[1]},ignore_index=True)
         
    if(p==1):
        url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p="+str(p+1)+"&rf=Price%3A7134.0_14089.0_7134.0%20TO%2014089.0"
        print(url)
        driver.get(url)
print(df)

**Q8: Go to webpage https://www.amazon.in/**
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [ ]:

driver=webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
url='https://www.amazon.in/ '
driver.get(url)

df_i7=pd.DataFrame(columns=['title','price','rating'])
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

submit=driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
submit.click()

In [ ]:
cpu_i7=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div/label/i')
print(cpu_i7.text)
cpu_i7.click()

In [ ]:
x=driver.find_elements_by_xpath('//div[@class="a-section a-spacing-small a-spacing-top-small"]')
for i in x:
    title=i.find_element_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
   
    price=i.find_element_by_xpath('//span[@class="a-price-whole"]')

    rating=i.find_element_by_xpath('//div[@class="a-section a-spacing-none a-spacing-top-micro"]/div/span/span/a/i/span')

    df_i7=df_i7.append({'title':title.text,'price':price.text,'rating':rating.text},ignore_index=True)
print("***Records of Intel Core i7****")     
print(df.head(10))

In [ ]:
clear_filter=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[1]/span/a/span[2]')
clear_filter.click()

In [ ]:
cpu_i9=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i')
print(cpu_i9.click())

In [ ]:
df_i9=pd.DataFrame(columns=['title','price','rating'])
x=driver.find_elements_by_xpath('//div[@class="a-section a-spacing-small a-spacing-top-small"]')
for i in x:
    title=i.find_element_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
   
    price=i.find_element_by_xpath('//span[@class="a-price-whole"]')

    rating=i.find_element_by_xpath('//div[@class="a-section a-spacing-none a-spacing-top-micro"]/div/span/span/a/i/span')

    df_i9=df_i9.append({'title':title.text,'price':price.text,'rating':rating.text},ignore_index=True)
print("***Records of Intel Core i9****")    
print(df_i9.head(10))

**Q9:Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:**
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companie, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [ ]:
driver=webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
url='https://www.ambitionbox.com/'
driver.get(url)
job=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job.click()

In [ ]:
job_des=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
job_des.send_keys('Data Scientist')
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search_button.click()

In [ ]:
loctaion=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
loctaion.click()

In [ ]:
loc_name=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
loc_name.send_keys('Noida')

In [ ]:
#radio button selection
rd_loc=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
rd_loc.click()

In [ ]:
grid=driver.find_elements_by_xpath('//div[@itemprop="itemListElement"]')
x=0
df=pd.DataFrame(columns=['Job_Title','company_name','Rating','Package/exp','Locations','Skill'])

company_name=[]
title=[]
Rating=[]
package=[]
locations=[]
skill=[]
for i in grid:
    x=x+1
    print(x)
    
    titles=i.find_element_by_tag_name('h2')
    title.append(titles.text)
    
    company_names=i.find_element_by_tag_name('p')
    company_name.append(company_names.text)
    
    ratings=i.find_element_by_tag_name('span')
    Rating.append(ratings.text)
    
   
basic_info=driver.find_elements_by_xpath('//div[@class="job-basic-info show-flex"]')

for j in basic_info[1:]:
    info=j.find_elements_by_tag_name('p')

    package.append(info[0].text)
    if(info[1].text=='Not Disclosed'):
        locations.append(info[2].text)
        skill.append(info[3].text)

    else:
        locations.append(info[1].text)
        skill.append(info[2].text)

#df=df2.append({'Package':package,'Locations':locations,'Skill':skill},ignore_index=True)
df['Package/exp']=package
df['Locations']=locations
df['Skill']=skill
df['Job_Title']=title
df['company_name']=company_name
df['Rating']=Rating

print(df.head(10))

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
ASSIGNMENT 2
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually

In [ ]:
driver=webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
url='https://www.ambitionbox.com/'
driver.get(url)
job=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
job.click()

In [ ]:
job_des=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')
job_des.send_keys('Data Scientist')

In [ ]:
driver=webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
url='https://www.ambitionbox.com/profile/data-scientist-salary'
driver.get(url)

In [ ]:
company_name=[]
total_sal_records=[]
avg_sal=[]
min_sal=[]
max_sal=[]
exp_required=[]
df=pd.DataFrame(columns=['Company name', 'Total salary record', 'Average salary', 'Minsalary', 'Max Salary','experience required'])
records=driver.find_elements_by_xpath('//div[@class="result-row"]')


name=driver.find_elements_by_xpath('//div[@class="name"]')
for j in name:
        comp_name=j.find_element_by_tag_name('a')
        company_name.append(comp_name.text)
        total_sal=j.find_element_by_tag_name('span')
        total_sal_records.append(total_sal.text)
exp=driver.find_elements_by_xpath('//div[@class="salaries one-line sbold-list-header"]/span')

for y in sal_records:
    avgsal=y.text.split() 
    avg_sal.append(avgsal[1])
    min_sal.append(avgsal[3])
    max_sal.append(avgsal[5])
    
for i in exp:
    exp_required.append(i.text)       

df['Company name']=avg_sal
df['Total salary record']=min_sal
df['Average salary']=max_sal
df['Minsalary']=company_name
df['Max Salary']=total_sal_records
df['experience required']=exp_required
df