In [2]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing time
import time

# importing regex
import re
import warnings
warnings.filterwarnings('ignore')

.1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [98]:
# first connect to the webdriver
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

# Opening the homepage of Amazon.in
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

time.sleep(2)

In [99]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]


td_rank=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')

td_name=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')

td_artist=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')

td_upload_date=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')

td_views=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')

In [100]:
for i in range(len(td_rank)):
 # Extracting rank
    try:
        rank=td_rank[i].text     
        Rank.append(rank)
    except NoSuchElementException:
        Rank.append('-') 
        
# Extracting Name
    try:
        name=td_name[i].text     
        Name.append(name)
    except NoSuchElementException:
        Name.append('-') 
        
# Extracting Artist
    try:
        artist=td_artist[i].text     
        Artist.append(artist)
    except NoSuchElementException:
        Artist.append('-')
        
# Extracting Upload_date
    try:
        upload_date=td_upload_date[i].text     
        Upload_date.append(upload_date)
    except NoSuchElementException:
        Upload_date.append('-')  
        
# Extracting views
    try:
        views=td_views[i].text     
        Views.append(views)
    except NoSuchElementException:
        Views.append('-')  
        
time.sleep(2)    
# Make dataframe
video_details_df = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload_date':Upload_date,'Views':Views,})
print(" ****** Top 30 most-viewed YouTube videos *****\n")
video_details_df.iloc[0:29,:]

 ****** Top 30 most-viewed YouTube videos *****

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.53
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.82
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.31
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.69
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.48
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.27
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.58
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,"February 27, 2018",4.56
8,9.,"""Uptown Funk""[23]",Mark Ronson,"November 19, 2014",4.54
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.40
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.96
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.92
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.68
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.56
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.56
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.54
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.44
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.32
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.28
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.27
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.26
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.21
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.21
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.19
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.19
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.16
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.14
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.12

In [101]:

print(" ****** Progression of the most-viewed video on YouTube *****")

video_details_df.iloc[30:49,:]

 ****** Progression of the most-viewed video on YouTube *****

,Rank,Name,Artist,Upload_date,Views
30,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,037,500,000","November 2, 2020","June 17, 2016"
31,"""Despacito""[6]",Luis Fonsi,"2,993,700,000","August 4, 2017","January 12, 2017"
32,"""See You Again""[15]",Wiz Khalifa,"2,894,000,000","July 10, 2017","April 6, 2015"
33,"""Gangnam Style""⁂[25]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
34,"""Baby""*[59]",Justin Bieber,"245,400,000","July 16, 2010","February 19, 2010"
35,"""Bad Romance""[63]",Lady Gaga,"178,400,000","April 14, 2010","November 24, 2009"
36,"""Charlie Bit My Finger""‡[67]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
37,"""Evolution of Dance""[69]",Judson Laipply,"118,900,000","May 2, 2009","April 6, 2006"
38,"""Girlfriend""‡[71][72]",RCA Records,"92,600,000","July 17, 2008","February 27, 2007"
39,"""Evolution of Dance""[69]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
40,"""Music Is My Hot Hot Sex""‡[75]",CLARUSBARTEL72,"76,600,000","March 1, 2008","April 9, 2007"
41,"""Evolution of Dance""*[69]",Judson Laipply,"10,600,000","May 19, 2006","April 6, 2006"
42,"""Pokemon Theme Music Video""‡[80]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
43,"""Myspace – The Movie""‡[84][85]",eggtea,"2,700,000","February 18, 2006","January 31, 2006"
44,"""Phony Photo Booth""‡[87]",mugenized,"3,400,000","January 21, 2006","December 1, 2005"
45,"""The Chronic of Narnia Rap""‡[89]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
46,"""Ronaldinho: Touch of Gold""‡*[91]",Nikesoccer,"255,000","October 31, 2005","October 21, 2005"
47,"""I/O Brush""‡*[94]",larfus,"247,000","October 29, 2005","October 5, 2005"
48,"""Me at the zoo""[96]",jawed,1,"April 23, 2005","April 23, 2005"

**2.** Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [89]:
# first connect to the webdriver
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")
url = " https://www.bcci.tv/"
driver.get(url)

time.sleep(2)

int_tab =driver.find_element_by_xpath('//li[@class="nav-item ml-0"]').click()

In [91]:
# creating empty lists
Match_Title=[]
Series =[]
Place=[]
Date = []
Time=[]

# extracting title
titles=driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')

# extracting series
series =driver.find_elements_by_xpath('//span[@class="ng-binding"]')

#extarcting places
places=driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')

# extracting date 
dates=driver.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]')

# extracting time
times=driver.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]')

for i in range(len(titles)):
    title=titles[i].text     
    Match_Title.append(title)
    
    place=places[i].text     
    Place.append(place)
    
    serie=series[i].text     
    Series.append(serie)
    
    time=times[i].text     
    Time.append(time)
    
    date=dates[i].text     
    Date.append(date)



# Make dataframe
India_details_df = pd.DataFrame({'Match_Title':Match_Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
India_details_df

,Match_Title,Series,Place,Date,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"1st T20I - Arun Jaitley Stadium, Delhi",9 JUN 2022,7:30 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"2nd T20I - Barabati Stadium, Cuttack",12 JUN 2022,7:30 PM IST
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20I - Dr YS Rajasekhara Reddy ACA-VDCA Cr...,14 JUN 2022,7:30 PM IST
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20I - Saurashtra Cricket Association Stad...,17 JUN 2022,7:30 PM IST
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"5th T20I - M Chinnaswamy Stadium, Bengaluru",19 JUN 2022,7:30 PM IST

**3.** Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through cod

In [85]:
import time
# first connect to the webdriver
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")
url = "https://www.guru99.com/ "
driver.get(url)

time.sleep(2)

driver.find_element_by_xpath('//*[@id="menu-item-3173"]/a/span/span').click()
driver.find_element_by_xpath('//*[@id="menu-item-4622"]').click()

driver.find_element_by_xpath('//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a').click()

In [88]:
#extracting content
rows= driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr')
len(rows)
i=1
Exception_name=[]
Description=[]
for row in rows[1:] :
    tds=row.find_elements_by_tag_name('td')
    Exception_name.append(tds[0].text)
    Description.append(tds[1].text)
Exception_details=pd.DataFrame({'Exception_name': Exception_name ,'Description':Description})    
Exception_details.head()

,Exception_name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

**4.** Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [23]:
# first connect to the webdriver
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")
url = "http://statisticstimes.com/ "
driver.get(url)

time.sleep(2)
from selenium.webdriver.common.action_chains import ActionChains


#object of ActionChains
a = ActionChains(driver)
#identify element
m = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
#hover over element
a.move_to_element(m).perform()
#identify sub menu element
n = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
# hover over element and click
time.sleep(1)
a.move_to_element(n).click().perform()

driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[2]/div/div/div/div/div[1]').click()

driver.switchTo().defaultContent();      # Return to main window

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/div[2]/div/div/div/div/div[1]"}
  (Session info: chrome=100.0.4896.127)
Stacktrace:
Backtrace:
	Ordinal0 [0x00309943+2595139]
	Ordinal0 [0x0029C9F1+2148849]
	Ordinal0 [0x00194528+1066280]
	Ordinal0 [0x001C0FD4+1249236]
	Ordinal0 [0x001C11CB+1249739]
	Ordinal0 [0x001ED812+1431570]
	Ordinal0 [0x001DBA34+1358388]
	Ordinal0 [0x001EBAF2+1424114]
	Ordinal0 [0x001DB806+1357830]
	Ordinal0 [0x001B6086+1204358]
	Ordinal0 [0x001B6F96+1208214]
	GetHandleVerifier [0x004AB232+1658114]
	GetHandleVerifier [0x0056312C+2411516]
	GetHandleVerifier [0x0039F261+560433]
	GetHandleVerifier [0x0039E366+556598]
	Ordinal0 [0x002A286B+2173035]
	Ordinal0 [0x002A75F8+2192888]
	Ordinal0 [0x002A76E5+2193125]
	Ordinal0 [0x002B11FC+2232828]
	BaseThreadInitThunk [0x7726FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77E97A7E+286]
	RtlGetAppContainerNamedObjectPath [0x77E97A4E+238]
	(No symbol) [0x00000000]

In [38]:
rows=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr')
#making empty lists
Rank=[] 
State=[] 
GSDP_18_19=[] 
GSDP_19_20=[]
Share_2018=[]
GDP_billion =[]

for i in rows:
    # scraping all columns in row
    cols=i.find_elements_by_tag_name('td')
    Rank.append(cols[0].text) 
    State.append(cols[1].text) 
    GSDP_19_20.append(cols[2].text) 
    GSDP_18_19.append(cols[3].text) 
    Share_2018.append(cols[4].text) 
    GDP_billion.append(cols[5].text) 

#making Dataframe
GDP=pd.DataFrame({'Rank':Rank,'State':State ,'GSDP_19_20':GSDP_19_20 ,'GSDP_18_19':GSDP_18_19,
                  'Share_2018':Share_2018 ,'GDP_billion':GDP_billion})
GDP

,Rank,State,GSDP_19_20,GSDP_18_19,Share_2018,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

**5.** Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through cod

In [77]:
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")
url = "https://github.com/ "
driver.get(url)

time.sleep(2)

from selenium.webdriver.common.action_chains import ActionChains


#object of ActionChains
a = ActionChains(driver)
#identify element
m = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
#hover over element
a.move_to_element(m).perform()
time.sleep(1)
#identify sub menu element
n = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
# hover over element and click
time.sleep(1)
a.move_to_element(n).click().perform()

Titles=[]
Descriptions=[]
Languages=[]
Contributers=[]

titles=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
descriptions=driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')
languages=driver.find_elements_by_xpath('//span[@itemprop="programmingLanguage"]')
contributers=driver.find_elements_by_xpath('//span[@class="d-inline-block mr-3"]')

#scraping titles
for i in range(len(titles)):
    Titles.append(titles[i].text)
  
#scraping Descriptions
for i in range(len(descriptions)): 
    Descriptions.append(descriptions[i].text)

#scraping Languages
for i in range(len(languages)): 
    Languages.append(languages[i].text)
    
#scraping contributors
contributers=driver.find_elements_by_xpath('//span[@class="d-inline-block mr-3"]')
for i in contributers:
    contri_total=i.find_elements_by_css_selector('a')
    Contributers.append(len(contri_total))

    
# inserting '-' at index 13 since no record found
Descriptions.insert(13,' - ')

# inserting '-' at index [5,11,14,15] since no record found
index=[5,11,14,15]
for i in index :
    Languages.insert(i,' - ')

github_trending=pd.DataFrame({'Titles':Titles,'Descriptions':Descriptions ,'Languages':Languages ,'Contributers':Contributers})
github_trending

,Titles,Descriptions,Languages,Contributers
0,PowerShell / PowerShell,PowerShell for every system!,C#,5
1,ruanyf / weekly,科技爱好者周刊，每周五发布,TypeScript,5
2,angular / angular,The modern web developer’s platform,Ruby,5
3,mastodon / mastodon,"Your self-hosted, globally interconnected micr...",TypeScript,5
4,spacedriveapp / spacedrive,Spacedrive is an open source cross-platform fi...,Python,5
5,ml-tooling / best-of-ml-python,🏆 A ranked list of awesome machine learning Py...,-,5
6,jsonhero-io / jsonhero-web,"JSON Hero is an open-source, beautiful JSON ex...",TypeScript,5
7,gradio-app / gradio,Create UIs for your machine learning model in ...,Python,5
8,appsmithorg / appsmith,"Low code project to build admin panels, intern...",TypeScript,5
9,google / wireit,Wireit upgrades your npm scripts to make them ...,TypeScript,4
10,naver / fe-news,FE 기술 소식 큐레이션 뉴스레터,Java,5
11,Trainguy9512 / trainguys-animation-overhaul,润学全球官方指定GITHUB，整理润学宗旨、纲领、理论和各类润之实例；解决为什么润，润去哪里...,-,4
12,The-Run-Philosophy-Organization / run,A multi-voice TTS system trained with an empha...,Python,5
13,neonbjb / tortoise-tts,-,C,2
14,F5OEO / rpitx,RF transmitter for Raspberry Pi,-,5
15,hlorus / CAD_Sketcher,Constraint-based geometry sketcher for blender,-,4
16,why20021008 / hand-write,模拟手写效果，节约时间。,Python,1
17,rejetto / hfs,HFS is a file server offering a virtual file s...,Python,1
18,rancher / rancher,Complete container management platform,TypeScript,5
19,jwasham / coding-interview-university,A complete computer science study plan to beco...,Go,5
20,ruilisi / fortune-sheet,A drop-in javascript spreadsheet library that ...,TypeScript,5
21,RedisInsight / RedisInsight,RedisInsight,TypeScript,5
22,terraform-aws-modules / terraform-aws-eks,Terraform module to create an Elastic Kubernet...,HCL,5
23,FrancescoXX / free-Web3-resources,A list of FREE resources to make Web3 accessib...,HTML,5
24,Dec0ne / KrbRelayUp,KrbRelayUp - a universal no-fix local privileg...,C#,2

**6.** Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [3]:
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")
url = "https:/www.billboard.com/"
driver.get(url)
driver.maximize_window()
time.sleep(2)
driver.find_element_by_xpath('//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a').click()
Song_name=[]  
Artist_name=[] 
Last_week_rank=[] 
Peak_rank=[]  
Weeks_on_board=[]

# closing floating personal ad
driver.find_element_by_xpath('/html/body/div[2]/div/span').click()

In [20]:
row_list=driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul')
len(row_list)
j=0
for i in range(len(row_list)):

    eles = row_list[i].find_elements_by_tag_name('li')
    
    name=eles[0].text.split('\n')
    
    # appending values in lists
    
    Song_name.append(name[0])   # scarping song name
    Artist_name.append(name[1])  # scarping artist name
    
    Last_week_rank.append(eles[3].text) # scarping Last week rank
    Peak_rank.append(eles[4].text)    # scarping peak rank
    Weeks_on_board.append(eles[5].text)  # scarping Weeks on board

# making dataframe to store values
songs_details =pd.DataFrame({'Song_name':Song_name, 'Artist_name':Artist_name, 'Last_week_rank':Last_week_rank, 'Peak_rank':Peak_rank, 'Weeks_on_board':Weeks_on_board})
songs_details

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,As It Was,Harry Styles,2,1,3
1,First Class,Jack Harlow,1,1,2
2,Heat Waves,Glass Animals,3,1,66
3,Big Energy,Latto,4,3,26
4,Enemy,Imagine Dragons X JID,5,5,22
...,...,...,...,...,...
195,P Power,Gunna Featuring Drake,91,24,14
196,Money So Big,Yeat,-,95,4
197,Blick Blick!,Coi Leray & Nicki Minaj,95,37,4
198,Fall In Love,Bailey Zimmerman,-,99,1
199,X Ultima Vez,Daddy Yankee & Bad Bunny,99,73,3

**7.** Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [23]:
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")
url = "https://www.naukri.com/"
driver.get(url)
driver.maximize_window()
time.sleep(2)

#Make empty lists 
Name=[]  
Designation=[] 
Company=[] 
Skills=[]  
Location=[]


search=driver.find_element_by_xpath('//input[@class="suggestor-input "]')
search.clear()
search.send_keys('Data science')
driver.find_element_by_xpath('//div[@class="qsbSubmit"]').click()

In [24]:
urls=[]
links=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')


for i in range(len(links)):
    urls.append(links[i].get_attribute('href'))

for url in urls:
    driver.get(url) 
    time.sleep(2)
   
    try:
        Designations=driver.find_element_by_xpath('//div[@class="details"]').text
        Designation.append(Designations)
        
    except NoSuchElementException:
        Designation.append('-')
        
    try:
        companys=driver.find_element_by_xpath('//div[@class="jd-header-comp-name"]/a[1]').text 
        Company.append(companys)
        
    except NoSuchElementException:
        Company.append('-')
        
    try:
        name=driver.find_element_by_xpath('//div[@class="jd-top-head"]/header').text
        Name.append(name)
        
    except NoSuchElementException:
        Name.append('-')
    
    try:
        Skill=driver.find_element_by_xpath('//div[@class="key-skill"]/div').text
        Skills.append(Skill)
        
    except NoSuchElementException:
         Skills.append('-')
    try:
        Locations=driver.find_element_by_xpath('//span[@class="location "]').text
        Location.append(Locations)
        
    except NoSuchElementException:
        Location.append('-')

naukari=pd.DataFrame({'Name':Name , 'Designation':Designation,'Company':Company,'Skills':Skills,'Location':Location})
naukari

,Name,Designation,Company,Skills,Location
0,Opening For Manager / Sr. Manager Data Science,RoleData Scientist,MSD Pharmaceuticals,Key Skills,Pune
1,HCL || Data Science,RoleData Analyst,HCL Technologies,Key Skills,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
2,Data Science Analyst 2,RoleBusiness Analyst,Epsilon,Key Skills,Bangalore/Bengaluru
3,-,-,-,-,-
4,Data Science Analyst,RoleData Analyst,Freelancer Varsha Abhijeet Kakde,Key Skills,Pune
5,Data Science Manager,RoleBusiness Analyst,Druva,Key Skills,Pune
6,Mentor - Data Analyst/Data Science,RoleData Analyst,MarketScope,Key Skills,"Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secu..."
7,-,-,-,-,-
8,Director - Data Engineering - Data Science Pyt...,RoleHead - Data Science,Optum,Key Skills,Bangalore/Bengaluru
9,"Product Analyst, Google Assistant Data Science",RoleBusiness Analyst,Google,Key Skills,Bangalore/Bengaluru
10,-,-,-,-,-
11,Analyst: Data Science Insights,RoleData Science & Analytics - Other,TIGER ANALYTICS INDIA CONSULTING PRIVATE LIMITED,Key Skills,Chennai
12,Hiring For Data Science Intern,RoleData Analyst,FLIP ROBO TECHNOLOGIES PRIVATE LIMITED,Key Skills,"Noida, Bangalore/Bengaluru"
13,Senior Analyst - Data Science,RoleData Analyst,Tiger Analytics India LLP,Key Skills,Chennai
14,ACN - Applied Intelligence - CC - Data Science...,RoleData Analyst,Accenture,Key Skills,Gurgaon/Gurugram
15,ACN - Applied Intelligence - CC - Data Science...,RoleData Analyst,Accenture,Key Skills,Gurgaon/Gurugram
16,Team Lead/Consultant-Data Science,RoleBusiness Analyst,Accenture,Key Skills,Mumbai
17,Azure Data Science Professional,RoleData Engineer,Objectwin,Key Skills,Chennai
18,Data Science (OCR & Document Conversion),RoleData Science & Analytics - Other,BLUCOGNITION PRIVATE LIMITED,Key Skills,Pune
19,ACN - Applied Intelligence - CC - Data Science...,RoleData Scientist,Accenture,Key Skills,Gurgaon/Gurugram

**8.** Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [11]:
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [21]:
#Make empty lists 
Book_name=[]
Author_name=[]
Volumes_sold =[]
Publisher = []
Genre=[]


# extracting rows
rows= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr')
for i in rows:
    
    cols = i.find_elements_by_tag_name('td')  # extracting allcolumns data
    Book_name.append(cols[1].text)            #appending bookname to list
    Author_name.append(cols[2].text)          #appending Author_name to list
    Volumes_sold.append(cols[3].text)         #appending Volumes_sold to list
    Publisher.append(cols[4].text)            #appending Publisher to list
    Genre.append(cols[5].text)                #appending Genre to list
    
# storing data in dataframe 
Books_records=pd.DataFrame({'Book_name':Book_name , 'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
Books_records

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

**9.** Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [60]:
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")
url = " https://www.imdb.com/list/ls095964455/"
driver.get(url)
driver.maximize_window()
time.sleep(2)

#Make empty lists 
Name=[]
Year_span=[]
Genre =[]
Run_time = []
Ratings=[]
Votes=[]

In [61]:
series_list =driver.find_elements_by_xpath('//div[@class="lister-list"]/div')


name=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]')  # scraping name and year span

genre=driver.find_elements_by_xpath('//span[@class="genre"]')   # scraping name and year span

runTimes =driver.find_elements_by_xpath('//span[@class="runtime"]')   # scraping name and run time

ratings =driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')    # scraping name and rating

votes =driver.find_elements_by_xpath('//span[@name="nv"]')      # scraping name and votes


for i in range(len(name)):
    # extracting name and year span from name list
    Name.append(name[i].text.split('(')[0].split('.')[1])
    Year_span.append(name[i].text.split('(')[1].split(')')[0])
    
    Genre.append(genre[i].text)   # appending genre
    Run_time.append(runTimes[i].text)   # appending Run_time
    Ratings.append(ratings[i].text)   # appending Ratings
    Votes.append(votes[i].text)   # appending Votes
# dispalying length of all lists
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Votes))   
# storing data in datframe.
top_100_series = pd.DataFrame({'Name':Name ,'Year_span':Year_span ,'Genre':Genre ,'Run_time':Run_time ,'Votes':Votes})
top_100_series

100
100 100 100 100 100

,Name,Year_span,Genre,Run_time,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,"1,979,331"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,"984,999"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,"943,424"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,"281,837"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,"241,786"
...,...,...,...,...,...
95,Reign,2013–2017,"Drama, Fantasy",42 min,"48,503"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,"59,138"
97,Criminal Minds,2005–2020,"Crime, Drama, Mystery",42 min,"188,612"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,"39,971"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,"226,087"

**10.** Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [62]:
driver= webdriver.Chrome(r"C:\Users\nbson\Downloads\chromedriver_win32 (3)\chromedriver.exe")
#connection after uploading driver in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")
url = "https://archive.ics.uci.edu/ "
driver.get(url)
driver.maximize_window()
time.sleep(2)

#Make empty lists 
Dataset_name=[]
Data_type=[]
Task =[]
Attribute_type = []
No_of_instances=[]
No_of_attribute=[]
Year=[]

# clicking view all dataset
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]').click()

In [74]:


year=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr')
for i in year :
    cols=i.find_elements_by_tag_name('td')
    if len(cols)==9:
        Dataset_name.append(cols[2].text)
        Data_type.append(cols[3].text)
        Task.append(cols[4].text)
        Attribute_type.append(cols[5].text)
        No_of_instances.append(cols[6].text)
        No_of_attribute.append(cols[7].text)
        Year.append(cols[8].text)
# storing values in dataframe
dataset_details=pd.DataFrame({'Dataset_name':Dataset_name , 'Data_type':Data_type , 'Task':Task ,
                             'Attribute_type':Attribute_type , 'No_of_instances':No_of_instances ,
                             'No_of_attribute':No_of_attribute , 'Year':Year })

#displaying records
dataset_details

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021